/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* UNIVERSAL */

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 960px;
    background: url('../images/empowerTravel.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
    display: block;

}

ul {
    list-style-type: none;
    float: none;
    margin-left: 32%;
  }

li {
  float: left;
}

p {
    font-size: 38px;
    text-transform: uppercase;
    color:#192B53;
    font-weight: 600;
    text-align: center;
}

.logo img {
  width: 50%;
  margin-left: 26%;
}

.outer img {
    width: 30px;
}

.outer{
  background: #CBB210;
  padding: 10px;
  margin: 5px;
  border-radius: 40px;
 }

.outer:hover {
  background: #192B53;
}

.container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.headermenu {
  display: table;
  margin: 0 auto;
}

@media screen and (max-width: 450px){
  ul {
    margin: 0;
  }

  p {
    font-size: 28px;
  }

}
